In [1]:
import pandas as pd

In [59]:
df = pd.read_csv('covid_19_data.csv')
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
236012,236013,02/27/2021,Zaporizhia Oblast,Ukraine,2021-02-28 05:22:20,69504.0,1132.0,65049.0
236013,236014,02/27/2021,Zeeland,Netherlands,2021-02-28 05:22:20,16480.0,178.0,0.0
236014,236015,02/27/2021,Zhejiang,Mainland China,2021-02-28 05:22:20,1321.0,1.0,1314.0
236015,236016,02/27/2021,Zhytomyr Oblast,Ukraine,2021-02-28 05:22:20,50582.0,834.0,44309.0
236016,236017,02/27/2021,Zuid-Holland,Netherlands,2021-02-28 05:22:20,255335.0,3732.0,0.0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236017 entries, 0 to 236016
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              236017 non-null  int64
 1   ObservationDate  236017 non-null  object
 2   Province/State   173972 non-null  object
 3   Country/Region   236017 non-null  object
 4   Last Update      236017 non-null  object
 5   Confirmed        236017 non-null  float64
 6   Deaths           236017 non-null  float64
 7   Recovered        236017 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 14.4+ MB

In [4]:
df.shape

(236017, 8)

In [6]:
df.describe

<bound method NDFrame.describe of            SNo ObservationDate     Province/State  Country/Region  \
0            1      01/22/2020              Anhui  Mainland China
1            2      01/22/2020            Beijing  Mainland China
2            3      01/22/2020          Chongqing  Mainland China
3            4      01/22/2020             Fujian  Mainland China
4            5      01/22/2020              Gansu  Mainland China
...        ...             ...                ...             ...
236012  236013      02/27/2021  Zaporizhia Oblast         Ukraine
236013  236014      02/27/2021            Zeeland     Netherlands
236014  236015      02/27/2021           Zhejiang  Mainland China
236015  236016      02/27/2021    Zhytomyr Oblast         Ukraine
236016  236017      02/27/2021       Zuid-Holland     Netherlands

                Last Update  Confirmed  Deaths  Recovered
0           1/22/2020 17:00        1.0     0.0        0.0
1           1/22/2020 17:00       14.0     0.0        0.0
2           1/22/2020 17:00        6.0     0.0        0.0
3           1/22/2020 17:00        1.0     0.0        0.0
4           1/22/2020 17:00        0.0     0.0        0.0
...                     ...        ...     ...        ...
236012  2021-02-28 05:22:20    69504.0  1132.0    65049.0
236013  2021-02-28 05:22:20    16480.0   178.0        0.0
236014  2021-02-28 05:22:20     1321.0     1.0     1314.0
236015  2021-02-28 05:22:20    50582.0   834.0    44309.0
236016  2021-02-28 05:22:20   255335.0  3732.0        0.0

[236017 rows x 8 columns]>

In [7]:
df.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [61]:
df = df.loc[df['Country/Region'] != 'Mainland China']

In [62]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
12,13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0.0,0.0,0.0
20,21,01/22/2020,Macau,Macau,1/22/2020 17:00,1.0,0.0,0.0
28,29,01/22/2020,Taiwan,Taiwan,1/22/2020 17:00,1.0,0.0,0.0
31,32,01/22/2020,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
35,36,01/22/2020,NaN,Japan,1/22/2020 17:00,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
236011,236012,02/27/2021,Zakarpattia Oblast,Ukraine,2021-02-28 05:22:20,39830.0,900.0,30516.0
236012,236013,02/27/2021,Zaporizhia Oblast,Ukraine,2021-02-28 05:22:20,69504.0,1132.0,65049.0
236013,236014,02/27/2021,Zeeland,Netherlands,2021-02-28 05:22:20,16480.0,178.0,0.0
236015,236016,02/27/2021,Zhytomyr Oblast,Ukraine,2021-02-28 05:22:20,50582.0,834.0,44309.0
236016,236017,02/27/2021,Zuid-Holland,Netherlands,2021-02-28 05:22:20,255335.0,3732.0,0.0

In [63]:
df['Country/Region'].unique()

array(['Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan', 'Thailand',
       'South Korea', 'Singapore', 'Philippines', 'Malaysia', 'Vietnam',
       'Australia', 'Mexico', 'Brazil', 'Colombia', 'France', 'Nepal',
       'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast', 'Germany',
       'Finland', 'United Arab Emirates', 'India', 'Italy', 'UK',
       'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt', 'Iran',
       'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan', 'Bahrain',
       'Kuwait', 'Austria', 'Algeria', 'Croatia', 'Switzerland',
       'Pakistan', 'Georgia', 'Greece', 'North Macedonia', 'Norway',
       'Romania', 'Denmark', 'Estonia', 'Netherlands', 'San Marino',
       ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania', 'New Zealand',
       'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg', 'Monaco',
       'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Saint Barthelemy', 'Hungary',
       'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia',
       'Palestine', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia',
       'Togo', 'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', "('St. Martin',)",
       'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia',
       'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)', 'Jamaica',
       'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Samoa', 'Syria', 'Timor-Leste', 'Belize',
       'Laos', 'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'Solomon Islands', 'Marshall Islands',
       'Vanuatu', 'Micronesia'], dtype=object)

In [65]:
import numpy as np
import pandas as pd

In [66]:
import matplotlib.pyplot as plt

In [14]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
12,13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0.0,0.0,0.0
20,21,01/22/2020,Macau,Macau,1/22/2020 17:00,1.0,0.0,0.0
28,29,01/22/2020,Taiwan,Taiwan,1/22/2020 17:00,1.0,0.0,0.0
31,32,01/22/2020,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
35,36,01/22/2020,NaN,Japan,1/22/2020 17:00,2.0,0.0,0.0

In [67]:
df.shape

(223517, 8)

In [68]:
Recovered = df.iloc[:,-1]
Recovered

12            0.0
20            0.0
28            0.0
31            0.0
35            0.0
           ...
236011    30516.0
236012    65049.0
236013        0.0
236015    44309.0
236016        0.0
Name: Recovered, Length: 223517, dtype: float64

In [69]:
Deaths = df.iloc[:,-2]
Deaths

12           0.0
20           0.0
28           0.0
31           0.0
35           0.0
           ...
236011     900.0
236012    1132.0
236013     178.0
236015     834.0
236016    3732.0
Name: Deaths, Length: 223517, dtype: float64

In [70]:
Confirmed = df.iloc[:,-3]
Confirmed

12             0.0
20             1.0
28             1.0
31             1.0
35             2.0
            ...
236011     39830.0
236012     69504.0
236013     16480.0
236015     50582.0
236016    255335.0
Name: Confirmed, Length: 223517, dtype: float64

In [71]:
X = df.iloc[:,:-3]
X

,SNo,ObservationDate,Province/State,Country/Region,Last Update
12,13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00
20,21,01/22/2020,Macau,Macau,1/22/2020 17:00
28,29,01/22/2020,Taiwan,Taiwan,1/22/2020 17:00
31,32,01/22/2020,Washington,US,1/22/2020 17:00
35,36,01/22/2020,NaN,Japan,1/22/2020 17:00
...,...,...,...,...,...
236011,236012,02/27/2021,Zakarpattia Oblast,Ukraine,2021-02-28 05:22:20
236012,236013,02/27/2021,Zaporizhia Oblast,Ukraine,2021-02-28 05:22:20
236013,236014,02/27/2021,Zeeland,Netherlands,2021-02-28 05:22:20
236015,236016,02/27/2021,Zhytomyr Oblast,Ukraine,2021-02-28 05:22:20
236016,236017,02/27/2021,Zuid-Holland,Netherlands,2021-02-28 05:22:20

# Confirmed

In [21]:
pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Collecting scikit-learn (from sklearn)
  Downloading https://files.pythonhosted.org/packages/a2/00/48577efc728ba5b3230567def9a2b7b95b3361f7ea8ab1e05e9bbebc5704/scikit_learn-0.24.1-cp38-cp38-macosx_10_13_x86_64.whl (7.2MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7.2MB 3.4MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.20.2)
Collecting scipy>=0.19.1 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/fc/c9/8d034cd5e0543e15e99a35836428c70618b87aff1fb80656094fba23c659/scipy-1.6.2-cp38-cp38-macosx_10_9_x86_64.whl (30.8MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 30.8MB 13.7MB/s eta 0:00:01
Collecting joblib>=0.11 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/55/85/70c6602b078bd9e6f3da4f467047e906525c355a4dacd4f71b97a35d9897/joblib-1.0.1-py3-none-any.whl (303kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 307kB 13.9MB/s eta 0:00:01
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=d1e49e82ee5e17cde6dfb64fa94f3bc859705776eb39651c5ac4473fc4bca506
  Stored in directory: /Users/yanliang/Library/Caches/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.0.1 scikit-learn-0.24.1 scipy-1.6.2 sklearn-0.0 threadpoolctl-2.1.0
WARNING: You are using pip version 19.2.3, however version 21.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [47]:
# df['ObservationDate'] = df['ObservationDate'].astype('int64')
df['ObservationDate'] = df['ObservationDate'].apply(lambda x: pd.Timestamp(x)).astype('int64')

In [48]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1579651200000000000,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,1579651200000000000,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,1579651200000000000,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,1579651200000000000,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,1579651200000000000,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
236012,236013,1614384000000000000,Zaporizhia Oblast,Ukraine,2021-02-28 05:22:20,69504.0,1132.0,65049.0
236013,236014,1614384000000000000,Zeeland,Netherlands,2021-02-28 05:22:20,16480.0,178.0,0.0
236014,236015,1614384000000000000,Zhejiang,Mainland China,2021-02-28 05:22:20,1321.0,1.0,1314.0
236015,236016,1614384000000000000,Zhytomyr Oblast,Ukraine,2021-02-28 05:22:20,50582.0,834.0,44309.0
236016,236017,1614384000000000000,Zuid-Holland,Netherlands,2021-02-28 05:22:20,255335.0,3732.0,0.0

In [49]:
X = df.iloc[:,:-3]
X

,SNo,ObservationDate,Province/State,Country/Region,Last Update
0,1,1579651200000000000,Anhui,Mainland China,1/22/2020 17:00
1,2,1579651200000000000,Beijing,Mainland China,1/22/2020 17:00
2,3,1579651200000000000,Chongqing,Mainland China,1/22/2020 17:00
3,4,1579651200000000000,Fujian,Mainland China,1/22/2020 17:00
4,5,1579651200000000000,Gansu,Mainland China,1/22/2020 17:00
...,...,...,...,...,...
236012,236013,1614384000000000000,Zaporizhia Oblast,Ukraine,2021-02-28 05:22:20
236013,236014,1614384000000000000,Zeeland,Netherlands,2021-02-28 05:22:20
236014,236015,1614384000000000000,Zhejiang,Mainland China,2021-02-28 05:22:20
236015,236016,1614384000000000000,Zhytomyr Oblast,Ukraine,2021-02-28 05:22:20
236016,236017,1614384000000000000,Zuid-Holland,Netherlands,2021-02-28 05:22:20

In [50]:
Confirmed = df.iloc[:,-3]
Confirmed

0              1.0
1             14.0
2              6.0
3              1.0
4              0.0
            ...
236012     69504.0
236013     16480.0
236014      1321.0
236015     50582.0
236016    255335.0
Name: Confirmed, Length: 236017, dtype: float64

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Confirmed, test_size=0.2, random_state=0)

# LogisticRegression

In [73]:
from sklearn.linear_model import LogisticRegression

In [53]:
# from sklearn.preprocessing import StandardScaler
# sc_X = StandardScaler()
# x_train = sc_X.fit_transform(x_train)
# x_test = sc_X.transform(x_test)

ValueError: could not convert string to float: 'Kiev Oblast'

In [74]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

ValueError: could not convert string to float: '01/10/2021'

In [ ]:
y_pred = classifier.predict(x_test)
y_pred

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)