In [25]:
from PolynomialRegressionModel import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('Confirmed_Cases_US.csv')
df

     Dates  Confirmed
0        0         10
1        1         15
2        2         25
3        3         38
4        4         56
..     ...        ...
398    398  112019890
399    399  112464430
400    400  112911535
401    401  113325717
402    402  113694842

[403 rows x 2 columns]

In [27]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
y

0             10
1             15
2             25
3             38
4             56
         ...
398    112019890
399    112464430
400    112911535
401    113325717
402    113694842
Name: Confirmed, Length: 403, dtype: int64

In [28]:
x

     Dates
0        0
1        1
2        2
3        3
4        4
..     ...
398    398
399    399
400    400
401    401
402    402

[403 rows x 1 columns]

In [29]:
model_params =  {
                "type": "neural_net",
                "alpha": 1e-6,
                "hidden_layer_sizes": "auto",
                "learning_rate_init": 0.0002,
                "max_iter": 50000,
                "batch_size": 32,
                "tol": 1e-6,
                "n_iter_no_change": 250,
                "verbose": False
            },

In [30]:
from NN import NeuralNetModel
import json

In [31]:
with open("config.json", "r") as f:
    config = json.load(f)

In [41]:
model_config = config["models"]
model_config

{'enabled': True,
 'model_name': 'Cases',
 'model': {'type': 'neural_net',
  'alpha': 1e-06,
  'hidden_layer_sizes': 'auto',
  'learning_rate_init': 0.0008,
  'max_iter': 50000,
  'batch_size': 32,
  'tol': 1e-06,
  'n_iter_no_change': 250,
  'verbose': False},
 'datagrabber_class': 'CasesDataGrabber',
 'grab_data_from_server': True,
 'offline_dataset_date': '2020-09-26',
 'days_to_predict': 10}

In [42]:
neural_net_model = NeuralNetModel(model_config["model_name"])
neural_net_model.train(x, y, model_config["model"])

In [43]:
beginning_day=len(x)
limit=10
next_days_x = np.array(range(beginning_day, beginning_day + limit)).reshape(-1, 1)
next_days_pred = neural_net_model.get_predictions(next_days_x)

In [44]:
next_days_pred

array([116919647, 117470531, 118021414, 118572298, 119123181, 119674065,
       120224948, 120775831, 121326715, 121877598])

In [45]:
next_days_x

array([[403],
       [404],
       [405],
       [406],
       [407],
       [408],
       [409],
       [410],
       [411],
       [412]])