In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Confirmed_VS_Vaccinated_US.csv')
df

    Unnamed: 0 ObservationDate    Confirmed  People_Fully_Vaccinated
0          333      2020-12-20   76818746.0                      0.0
1          334      2020-12-21   77367360.0                      0.0
2          335      2020-12-22   78016498.0                      0.0
3          336      2020-12-23   78710560.0                      0.0
4          337      2020-12-24   79377452.0                      0.0
..         ...             ...          ...                      ...
65         398      2021-02-23  112019890.0               41842414.0
66         399      2021-02-24  112464430.0               42359354.0
67         400      2021-02-25  112911535.0               43514673.0
68         401      2021-02-26  113325717.0               45521878.0
69         402      2021-02-27  113694842.0               46345540.0

[70 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               70 non-null     int64
 1   ObservationDate          70 non-null     object
 2   Confirmed                70 non-null     float64
 3   People_Fully_Vaccinated  70 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ KB

In [4]:
df.shape

(70, 4)

In [5]:
df.describe

<bound method NDFrame.describe of     Unnamed: 0 ObservationDate    Confirmed  People_Fully_Vaccinated
0          333      2020-12-20   76818746.0                      0.0
1          334      2020-12-21   77367360.0                      0.0
2          335      2020-12-22   78016498.0                      0.0
3          336      2020-12-23   78710560.0                      0.0
4          337      2020-12-24   79377452.0                      0.0
..         ...             ...          ...                      ...
65         398      2021-02-23  112019890.0               41842414.0
66         399      2021-02-24  112464430.0               42359354.0
67         400      2021-02-25  112911535.0               43514673.0
68         401      2021-02-26  113325717.0               45521878.0
69         402      2021-02-27  113694842.0               46345540.0

[70 rows x 4 columns]>

In [6]:
df.columns

Index(['Unnamed: 0', 'ObservationDate', 'Confirmed',
       'People_Fully_Vaccinated'],
      dtype='object')

In [8]:
df = df.drop(columns=['Unnamed: 0'])
df

   ObservationDate    Confirmed  People_Fully_Vaccinated
0       2020-12-20   76818746.0                      0.0
1       2020-12-21   77367360.0                      0.0
2       2020-12-22   78016498.0                      0.0
3       2020-12-23   78710560.0                      0.0
4       2020-12-24   79377452.0                      0.0
..             ...          ...                      ...
65      2021-02-23  112019890.0               41842414.0
66      2021-02-24  112464430.0               42359354.0
67      2021-02-25  112911535.0               43514673.0
68      2021-02-26  113325717.0               45521878.0
69      2021-02-27  113694842.0               46345540.0

[70 rows x 3 columns]

In [9]:
import numpy as np
import pandas as pd

In [10]:
import matplotlib.pyplot as plt

In [11]:
df.head()

  ObservationDate   Confirmed  People_Fully_Vaccinated
0      2020-12-20  76818746.0                      0.0
1      2020-12-21  77367360.0                      0.0
2      2020-12-22  78016498.0                      0.0
3      2020-12-23  78710560.0                      0.0
4      2020-12-24  79377452.0                      0.0

In [12]:
df.shape

(70, 3)

In [17]:
y_c_train  = df.iloc[:,-2]
y_c_train

0      76818746.0
1      77367360.0
2      78016498.0
3      78710560.0
4      79377452.0
         ...
65    112019890.0
66    112464430.0
67    112911535.0
68    113325717.0
69    113694842.0
Name: Confirmed, Length: 70, dtype: float64

In [18]:
y_v_train = df.iloc[:,-2]
y_v_train

0      76818746.0
1      77367360.0
2      78016498.0
3      78710560.0
4      79377452.0
         ...
65    112019890.0
66    112464430.0
67    112911535.0
68    113325717.0
69    113694842.0
Name: Confirmed, Length: 70, dtype: float64

In [19]:
X = np.array(df.index.values.tolist()).reshape(-1, 1)
list = []
for i in range(1,22):
    list.append(69 +i)
x_pred = np.array(list).reshape(-1, 1)
x_pred

array([[70],
       [71],
       [72],
       [73],
       [74],
       [75],
       [76],
       [77],
       [78],
       [79],
       [80],
       [81],
       [82],
       [83],
       [84],
       [85],
       [86],
       [87],
       [88],
       [89],
       [90]])

# LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc_X = StandardScaler()
# x_train = sc_X.fit_transform(x_train)
# x_test = sc_X.transform(x_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

In [ ]:
y_pred = classifier.predict(x_test)
y_pred

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)